$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$maroon: #800000;
$grey: #808080;
$black: #000;
$white: #fff;
$gold: #b5b700;
$royal-purple: #622a6c;
$sky-blue: #5792f8;

body {
  background-color: $grey;
  width: auto;
};

fieldset {
  background-color: $maroon;
  color: $white;
  font-family: cursive;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 3.5%;
  text-align: center;
  width: auto;
};

#upload-picture-form {
  background-color: $maroon;
  border: 1px solid $maroon;
  border-radius: 5%;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 1100px;
};

.upload-image-container {
  background-color: $maroon;
  text-align: center;
  // width: auto;
  height: 15%;
  width: 20%;
};

.upload-picture-btn {
  margin-left: 5%;
  text-align: center;
};

.picture-input-fieldset {
  background-color: $maroon;
};

input {
  color: $maroon;
  font-family: cursive;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
};

.introduction {
  color: $maroon;
  font-family: cursive;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
};

.instructions {
  color: $white;
  font-family: cursive;
  font-size: 30px;
  padding-top: 25px;
  text-align: center;
};

.auth-instructions {
  color: $white;
  font-family: cursive;
  font-size: 36px;
  text-align: center;
};

.post-sign-in-instructions {
  font-family: cursive;
  font-size: 30px;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
};

.out-put-display {
  background-color: $maroon;
  border-radius: 15%;
  color: $white;
  font-family: cursive;
  height: 15%;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  width: auto;
};

.intro-text {
  font-family: cursive;
  font-size: 48px;
  font-style: italic;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
};

.img {
  height: 500px;
  width: 500px;
};

.graffiti-main {
  background-color: $black;
  border: 10px solid $maroon;
  color: $maroon;
  display: flex;
  // margin-left: 20%;
  margin-top: 1.5%;
  width: 90%;
  height: 1200px;
};

.delete-btn-container {
  padding-bottom: 50px;
};

.graffiti-one-container {
  background-color: $grey;
  border: 10px solid $maroon;
  display: block;
  height: auto;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-top: 5%;
  padding-bottom: 5%;
  width: 90%;
};

#comment-form {
  display: block;
  padding-left: 20%;
};

img {
  height: 300px;
  width: 300px;
};

.graffiti-one-info {
  background-color: $royal-purple;
  border: 4px solid $royal-purple;
  display: block;
  height: 45%;
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
};

.comment-display {
  display: block;
  margin-left: 30%;
  // margin-left: 20%;
};

.graffiti-one-img-container {
  background-color: $gold;
  border: 2px solid $gold;
  height: 40%;
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
};

#get-picture-form {
  padding-left: 15%;
};

.delete-btn-container {
  padding-left: 15%;
};

.col-md-4 {
  background-color: $grey;
  border: 2px solid $grey;
  border-radius: 10%;
  color: $white;
  font-size: 14px;
  height: 100px;
  margin-left: 7.5%;
  margin-top: 5%;
  padding-top: 25px;
  text-align: center;
  text-overflow: ellipsis;
  width: auto;
};

.col-md-12 {
  background-color: $grey;
  border: 2px solid $grey;
  border-radius: 5%;
  font-size: 14px;
  height: 100%;
  margin-left: 5%;
  margin-top: 5%;
  padding-top: 20px;
  text-align: center;
  width: 90%;
  // padding-bottom: 20px;
  // margin-bottom: 20px;
};

.graffiti-one-btn-container {
  display: flex;
  width: 90%;
};

#sign-up {
  background-color: $maroon;
  border: 1px solid $maroon;
  border-radius: 5%;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
};

#sign-in {
  background-color: $maroon;
  border: 1px solid $maroon;
  border-radius: 5%;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
};

#change-password {
  background-color: $maroon;
  border: 1px solid $maroon;
  border-radius: 5%;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
};

#sign-out {
  background-color: $maroon;
  border: 1px solid $maroon;
  border-radius: 5%;
  color: $white;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
};

.text-muted {
  padding-top: 50px;
  color: $white;
  font-family: cursive;
  font-size: 24px;
  text-align: center;
};
